
<div class="d-flex flex-row justify-content-evenly flex-wrap pt-5 gap-3  container">
  <ng-container *ngFor="let recipe of (recipes | async)">
    <div class="d-flex flex-column card">


    <div>
        <div>
          <i class="pi pi-tag recipe-category-icon"></i>
          <span class="recipe-category">{{recipe.category}}</span>
        </div>
    </div>

    <div class="recipe-grid-item-content">
      <img class="recipe-image" [src]="'assets/recipes/'+ recipe.imageUrl" [alt]="recipe.title" />
      <div class="recipe-name">{{recipe?.title}}</div>
      <div class="recipe-description">{{recipe?.title}}</div>
      <p-rating class="recipe-rating" [ngModel]="recipe.rating" [readonly]="true" [cancel]="false"></p-rating>
    </div>


    <div class="recipe-grid-item-bottom">
      <span class="recipe-prep-time">{{recipe?.prepTime}}min</span>
      <p-button class="recipe-favourite" icon="pi pi-heart"></p-button>
    </div>
    </div>
  </ng-container>
</div>
